#columnMainContainer{
  z-index: 11;
  position: relative;
  height: 100%;
  overflow-x: scroll;
}
#columnMainContainer::-webkit-scrollbar{
  background: #00000000;
  height: 10px;
}
#columnMainContainer::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: #333;
}
.columnContainer{
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 40px 50px 20px 50px;
  height: 100%;
  gap: 15px;
  user-select: none;
  overflow-y: hidden;
}
.column{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #888;
  padding: 20px;
  height: 100%;
  min-width: 400px;
  max-width: 400px;
  border-radius: 20px;
  background: #ffffff5a;
  transition: 0.3s;
}
.column > h2{
  border-bottom: solid 1px #005fa8;
  color: #06f;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
.columnWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.columnWrapper::-webkit-scrollbar{
  display: none;
}
.columnContainer > h1{
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #aaa;
  cursor: pointer;
  transition: 0.2s linear 0.2s;
}

#newFormMenu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deleteColumnBtn{
  position: absolute;
  top: -10px;
  left: 0;
  padding: 15px;
  font-weight: normal;
  cursor: pointer;
  color: #f00;
  display: none;
}
.column:hover > .deleteColumnBtn{
  display: block;
}

/* Task */
.task{
  border: solid 1px #005fa8;
  background: #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  min-width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.taskHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.taskTitleSettingWrapper{
  display: flex;
  gap: 10px;
}
.taskTitleSettingWrapper > p{
  color: #06f;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
}
.taskSettingBtn{
  display: flex;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.taskSettingBtn > div{
  width: 4px;
  height: 4px;
  clip-path: circle();
  background: #444;
}
.task:hover .taskSettingBtn{
  opacity: 1;
  pointer-events: unset;
}
.taskImageWrapper{
  display: flex;
  gap: 5px;
}
.taskImageWrapper > img{
  width: 35px;
  height: 35px;
  clip-path: circle();
}
.taskContent{
  padding: 10px 0;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
  color: #444;
  min-height: 40px;
  margin: 5px 0;
}
.taskFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskFooter > h5{
  border-radius: 50%;
  border: solid 1px #aaa;
  padding: 5px 10px;
  color: #c00;
}
.taskFooter > div{
  display: flex;
  gap: 10px;
}
.taskFooter > div > p{
  color: #555;
  font-size: 12px;
}