header{
    z-index: 100;
    position: relative;
}
header::before, header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background: #00000088;
    bottom: -10px;
    transform: rotate(1deg);
    filter: blur(5px);
}
header::after{
    z-index: -1;
    transform: rotate(-1deg);
}
header nav {
    background-color: #ddd;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
    user-select: none;
    min-height: 85px;
}
nav > div:nth-child(1){
    display: flex;
    align-items: center;
}
nav img {
    width: 2.2cm;
}
header a{
    cursor: pointer;
}
header button{
    margin-right: 10px;
}

nav ul {
    display: flex;
    gap: 5px;
    list-style: none;
}
nav ul > li{
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
    transition: 0.2s;
}
nav ul > li:hover{
    background: #00000011;
}
nav > div{
    display: flex;
    gap: 5px;
}
nav > div > a{
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.2s;
}
nav > div > a:hover{
    background: #00000011;
}
nav > div > a:nth-child(1){
    cursor: context-menu;
}
nav > div > a:nth-child(1):hover{
    background: unset;
}

.btn {
    cursor: pointer;
    color: #333333;
    background-color: #ffffff4f;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-size: larger;
}

.btn:hover {
    color: white;
    background-color: #333333;
}

#navSetting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding: 0 15px;
    cursor: pointer;
}
#navSetting > div{
    width: 4px;
    height: 4px;
    clip-path: circle();
    background: #000;
}
#navSetting:hover > div{
    background: #06f;
}

#headerLeft{
    align-items: center;
}
#userImage{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}