#homeMainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    height: 10%;
}
main{
    background: #eee;
    height: 90%;
}
#addNewTaskBtn{
    z-index: 100;
    position: absolute;
    top: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 40px;
    transition: top 0.2s, left 0.2s, transform 0.2s linear 0.3s;
}
#newTaskForm{
    z-index: 90;
    position: absolute;
    left: 50px;
    top: 130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    background: #f5f5f5;
    box-shadow: 0 0 10px #00000055;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
}
#newTaskForm > div{
    position: relative;
}
#newTaskForm > div > p{
    position: absolute;
    color: #06f;
    background: #f5f5f5;
    pointer-events: none;
    font-size: 14px;
    transition: 0.2s;
}
#newTaskForm > div > input, #newTaskForm > div > textarea{
    width: 100%;
    outline: none;
    background: #f5f5f5;
}
#newTaskForm > div > textarea{
    resize: none;
    height: 100px;
}
#newTaskForm > div:nth-child(4), #newTaskForm > div:nth-child(5){
    display: flex;
    gap: 10px;
}
#newTaskForm > div:nth-child(4) > input, #newTaskForm > div:nth-child(5) > input{
    width: 50%;
}
#newTaskForm > div:nth-child(4) > select, #newTaskForm > div:nth-child(5) > select{
    border-radius: 4px;
    outline: none;
    border: solid 1px #aaa;
    width: 50%;
    background: #f5f5f5;
}
.newTaskAssignees{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.newTaskAssignees > p{
    background: #ddd;
    color: #fff;
    font-size: 14px;
    user-select: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Thasadith', sans-serif;
}

#backgroundImageWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#backgroundImageWrapper > img, #backgroundImageWrapper > div:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#backgroundImageWrapper > div:nth-child(1){
    z-index: 1;
    background: #ffffff87;
}

.clockInnerWrapper{
    z-index: 1;
    position: fixed;
    border-radius: 50%;
}

.clockInnerWrapper > div#minutArrow,
.clockInnerWrapper > div#hourArrow,
.clockInnerWrapper > div#secondArrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(80deg);
    width: 22vh;
    height: 1vh;
    display: flex;
    justify-content: flex-end;
}
.clockInnerWrapper > div#minutArrow > div,
.clockInnerWrapper > div#hourArrow > div,
.clockInnerWrapper > div#secondArrow > div{
    width: 50%;
    height: 100%;
    background: #9a9a9a;
    border-radius: 10px;
    clip-path: polygon(0% 30%, 20% 30%, 30% 0%, 100% 0%, 100% 100%, 30% 100%, 20% 70%, 0% 60%);
}
.clockInnerWrapper > div#hourArrow{
    width: 13vh;
}
.clockInnerWrapper > div#secondArrow{
    width: 18vh;
    height: 0.5vh;
}
.clockInnerWrapper > div#secondArrow > div{
    clip-path: unset;
}
.clockInnerWrapper > div#clockMidCircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: #8e8e8e;
}