#modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #eee;
    padding: 40px;
    box-shadow: 0 0 10px #00000055;
    border-radius: 15px;
    transition: 0.5s;
}
#modal > input{
    color: #06f;
    font-size: 40px;
    font-weight: bold;
    background: #eee;
    outline: none;
    width: fit-content;
}
#priorityContent{
    display: flex;
    align-items: center;
    gap: 5px;
}
#priorityContent > h1{
    color: #c4780e;
}
#priorityContent > textarea{
    background: #eee;
    resize: none;
    outline: none;
    scrollbar-width: none;
    width: 100%;
    min-height: 55px;
    float: right;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
#closeModal{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#closeModal::before, #closeModal::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 100%;
    height: 2px;
    background: #000;
}
#closeModal::after{
    transform: translateY(-50%) rotate(-45deg);
}
#modalUsers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    font-size: 12px;
}
#modalUsers > div{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #ddd;
    padding-right: 10px;
}
#modalUsers > div > h1{
    transform: rotate(45deg);
    cursor: pointer;
}
#modalUsers img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
#modalUsers > h1{
    cursor: pointer;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #aaa;
}
#modalSettings{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#modalSettings > button{
    width: 200px;
}
#modalSettings > h4{
    width: 100%;
    color: #06f;
    font-size: 20px;
    font-family: 'Thasadith', sans-serif;
}
#modalSettings > h4 > span{
    color: #c4780e;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}
#modalDate{
    color: #555;
    font-size: 14px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
}
#modalDate > p{
    white-space: nowrap;
    display: flex;
    align-items: center;
}
#modalDate input{
    color: #555;
    font-size: 14px;
    background: #eee;
    padding: 5px 0 5px 5px;
    outline: none;
}