#settingsContainer{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}
.closeSettings{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    cursor: pointer;
}
#settingsMenu{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 400px;
    padding: 15px;
    background: #ddd;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px #00000055;
    border: solid 1px #fff;
    pointer-events: all;
    transition: 0.4s;
}
#settingsMenu > div{
    border-radius: 10px;
    background: #d2d2d2;
}
.settingHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}
.settingFooter{
    border-top: solid 1px #aaa;
    padding: 10px 20px;
}
.settingFooter > div{
    display: flex;
    gap: 10px;
    padding: 10px 0;
}
.settingFooter > div > p{
    white-space: nowrap;
}
.settingFooter > i{
    color: #b00075;
    font-size: 12px;
    cursor: pointer;
}

#galleryWrapper{
    position: relative;
    overflow: hidden;
}
#gallerySettingsBtn{
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3px;
    right: 3px;
    padding: 0 7px;
}
#gallerySettingsBtn > div{
    width: 4px;
    height: 4px;
    clip-path: circle();
    background: #000;
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
    border-top: 10px solid #d2d2d2;
    border-bottom: 10px solid #d2d2d2;
    scrollbar-width: none;
}
#gallery > div{
    height: 100px;
    cursor: pointer;
}
#gallery > div > img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}
#gallerySettingsMenu{
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    transition: 0.4s;
}
#gallerySettingsMenu > p, #gallerySettingsMenu > input[type='text']{
    outline: none;
    background: #eee;
    border-radius: 0;
    padding: 10px;
    margin-top: -1px;
    border-top: solid 1px #bbb;
    text-align: center;
    font-size: 14px;
}
#gallerySettingsMenu > input[type='text']{
    background: #fff;
}
#gallerySettingsMenu > p:hover{
    background: #ddd;
    cursor: pointer;
}