*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button{
  padding: 15px;
  border-radius: 5px;
  border: none;
  background: #06a;
  color: white;
  cursor: pointer;
}
button:hover{
  filter: brightness(120%);
}
input[type="text"], input[type="number"], input[type="password"], textarea{
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #aaa;
}
input[type='checkbox']{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#AppMainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}