*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button{
  padding: 15px;
  border-radius: 5px;
  border: none;
  background: #06a;
  color: white;
  cursor: pointer;
}
button:hover{
  filter: brightness(120%);
}
input[type="text"], input[type="number"], input[type="password"], textarea{
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #aaa;
}
input[type='checkbox']{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type='range']{
  appearance: none;
  height: 20px;
  padding: 0 3px;
  border-radius: 20px;
  background: linear-gradient(to right, #5072cf, #d15578);
  width: 100%;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb{
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
}
input[type="color"]{
  height: 20px;
  width: 100%;
}